name: first_workflow

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        
        steps:
            - name: cloning repo
              uses: actions/checkout@v4

            - name: Building images
              run: docker build -t moayman181/mlops_github_actions:latest .

            - name: Docker login
              run: docker login -u moayman181 -p ${{secrets.DOCKER_HUB_TOKEN}}

            - name: Run container
              run: |
                docker run -d -p 8000:8000 --name fastapi_test moayman181/mlops_github_actions:latest
                sleep 10

            - name: Validate FastAPI is running
              run: curl --fail http://localhost:8000/docs

            - name: Stop container
              run: docker stop fastapi_test

            - name: Docker push
              run: docker push moayman181/mlops_github_actions:latest